*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    height:auto;
}
:root{
    --primary-color: #513162;
    --secondary-color: #FF7AF5;
}
.main{
    color:#fff;
    background-color: #FF7AF5;
    background-image: -webkit-linear-gradient(62deg, #FF7AF5 0%, #513162 100%);
    background-image: -moz-linear-gradient(62deg, #FF7AF5 0%, #513162 100%);
    background-image: -o-linear-gradient(62deg, #FF7AF5 0%, #513162 100%);
    background-image: linear-gradient(62deg, #FF7AF5 0%, #513162 100%);
    min-height:100vh;
    width:100vw;
    display:flex;
    flex-direction: column;
}
.navbar{
    height:8vh;
    border-bottom: 5px solid #fff;
}
.nav{
    display:flex;
    justify-content: space-between;
    padding: 12px 4%;
}
.nav-header{
    font-size: 1.6em;
}
.nav-text{
    font-size:1.2em;
}
.add-button{
    display:flex;
    justify-content: center;
    margin-top: 4vh;
    height: 5vh;
    
}
.add-book{
    width: 180px;
    height:6vh;
    font-size: 1.2em;
    display:flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 4px solid #fff;
    cursor: pointer;
    font-weight: bold;
    color:#fff;
    transition: all .3s ease-in;
    border-radius: 6px;
}

.add-book i{
    padding-right: 5px;
}
.add-book:hover{
    background-color: #fff;
    color:var(--primary-color);
    border:none;
}
.footer{
    margin-top: 40vh;
    text-align: center;
    font-weight:bold;
    margin-top: auto;
    background-color: var(--primary-color);
    color:#fff;
}
.book-form{
    margin-top: 25vh;
    margin-left: 20vw;
    padding: 3% 5%;
    height:50vh;
    width:60vw;
    background-color: var(--primary-color);
    font-size: 1.4em;
    z-index: 1000;
    position:absolute;
    border-radius: 15px;
    box-shadow: 0 4px 6px #fff inset;
    flex-direction:column;
}

input{
    height:30px;
    width:50vw;
    color:var(--primary-color);
    padding-left: 5px;
    outline:none;
    font-size: 1.2rem;
    
}
.check-box{
    display: flex;
    margin-top: 1.5vh;
    
    width:65vw;
}
.read{
    font-size: 1.2rem;
    width:41vw;
}
#read{
   width:10vw;
  
}
.submit-btn{
    font-size: 1.2rem;
    display:flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 4px solid #fff;
    cursor: pointer;
    font-weight: bold;
    color:#fff;
    transition: all .3s ease-in;
    width:90%;
    height:6vh;
    margin-top: 7vh;
}
.display-container{
    height:auto;
    padding-left: 6vw;
    display:flex;
    flex-direction:column;
    align-items: center;;
    padding:5px;
}
.library{
    width:50vw;
    height:35vh;
    display:flex;
    flex-direction:column;
    padding:5px;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    margin:3vh;
    color:#513162;
    font-size: 1.2rem;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 10px #000;
}
.result-title{
    font-size: 1.3em;
}
.result-author{
    font-size: 1.25em;
    align-self: center;
}

.unread-element{
    background-color: var(--secondary-color);
    width: 30vw;
    height:4vh;
    width: 38vw;
    height:5vh;
    text-align: center;
    padding-top: 4px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 6px;
    transition: all .2s ease-in;
}

.read-element{
    background-color: var(--primary-color);
    width: 30vw;
    height:4vh;
    width: 38vw;
    height:5vh;
    text-align: center;
    padding-top: 4px;
    color: #fff;
    cursor: pointer;
    border-radius: 6px;
    transition: all .2s ease-in;
}

.remove-book{
    background-color: transparent;
    width: 38vw;
    height:5vh;
    text-align: center;
    padding-top: 4px;
    color:var(--primary-color);
    cursor:pointer;
    font-weight: 1000;
    border-radius: 6px;
    transition: all .2s ease-in-out;
}

.remove-book:hover{
    background-color: #513162;
    color:red;
}

@media screen and (min-width: 500px) {
    .display-container{
        flex-direction:row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .library{
        width:35vw;
        height:35vh;
    }

    .unread-element, .read-element, .remove-book{
        width:30vw;
    }

    .form-container{
        width:40vw;
        display:flex;
        justify-content: center;
    }

    .book-form{
        width:49vw;
        height:45vh;
        margin-left:24vw;
    }

    .book-form input{
        width:40vw;
        height:4vh;
    }

    .book-form > label, .book-form > input {
       
        margin-left: -1vw;
    }

    .check-box{
        width:42vw;
        font-size:1.3em;
        margin-left:-1.6vw;
    }

    .check-box input:checked::before{
        width:4.3vw;
        height:4.3vw;
        margin-left: 1vw;
        font-size: 32px;
    }

    .submit-btn{
        width:40vw;
    }
}

@media screen and (min-width: 1000px) {
    .library{
        width:20vw;
        height:35vh;
        pointer-events: auto;
    }


    .display-container{
        justify-content: space-between;
        
    }

    .unread-element, .read-element, .remove-book{
        width:17vw;
        font-size:1.1rem;
        font-weight: 500;
    }  
    
    .book-form{
        width:30vw;
        margin-left:33vw;
        height: 50vh;
    }

    .book-form > label, .book-form > input {
       
        margin-left: -3vw;
    }

   

    .book-form input{
        width:26vw;  
        margin-top: 1vh; 
        
    }

    .check-box{
        width:27.7vw;
        margin-bottom: -2vh;
        margin-left: -3vw;
    }

    .check-box input{
        width:3vw;
        height: 3vh;
        margin-top: -0.7vh;
    }

    .submit-btn{
        width:20vw;
        
        margin-bottom: 2vh;
       
    }

}