*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --primary-color: ;
}

.main{
    color:#fff;
    background-color: #FF7AF5;
    background-image: -webkit-linear-gradient(62deg, #FF7AF5 0%, #513162 100%);
    background-image: -moz-linear-gradient(62deg, #FF7AF5 0%, #513162 100%);
    background-image: -o-linear-gradient(62deg, #FF7AF5 0%, #513162 100%);
    background-image: linear-gradient(62deg, #FF7AF5 0%, #513162 100%);
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction: column;
}

.navbar{
    height:8vh;
    border-bottom: 5px solid #fff;
}

.nav{
    display:flex;
    justify-content: space-between;
    padding: 12px 4%;
}

.nav-header{
    font-size: 1.6em;
}

.nav-text{
    font-size:1.2em;
}

.add-button{
    display:flex;
    justify-content: center;
    margin-top: 4vh;
    height: 5vh;
    
}

.add-book{
    width: 180px;
    height:6vh;
    font-size: 1.2em;
    display:flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 4px solid #fff;
    
    cursor: pointer;
    font-weight: bold;
    color:#fff;
    transition: all .3s ease-in;
}

.add-book i{
    padding-right: 5px;
}

.add-book:hover{
    background-color: #fff;
    color:#513162;
    border:none;
}

.footer{
    margin-top: 40vh;
    text-align: center;
    font-weight:bold;
    margin-top: auto;
}

.book-form{
    margin: 5vh 12vw;
    padding: 3% 5%;
    height:50vh;
    width:60vw;
    background-color: #513162;
    font-size: 1.4em;
}

.form-container{
    height: 50vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

input{
    height:30px;
    width:50vw;
    color:#513162;
    padding-left: 5px;
    outline:none;
    font-size: 1.2rem;
}

.check-box{
    display: flex;
    margin-top: 1.5vh;
    
    width:65vw;
}

.read{
    font-size: 1.2rem;
    width:41vw;
}

#read{
   width:10vw;
  
}

.submit-btn{
    font-size: 1.2rem;
    display:flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 4px solid #fff;
    cursor: pointer;
    font-weight: bold;
    color:#fff;
    transition: all .3s ease-in;
    width:90%;
    height:6vh;
    margin-top: 7vh;
}

.display-container{
    height:auto;
    padding-left: 6vw;
}

.book-display{
    width:50vw;
    height:35vh;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    margin-left: 12vw;
    margin-right:-5vw;
    color:#513162;
    font-size: 1.2rem;
    position: relative;
}

.result-title{
    font-size: 1.3em;
}

.result-author{
    font-size: 1.25em;
    align-self: center;
}

.result-read-status{
    background-color: #513162;
    color:#fff;
    width:30vw;
    height:4vh;
    text-align: center;
    font-weight: bold;
    padding-top: 4px;
}
